@using E_WORKERS.Models;




<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-WORKERS </title>
    <meta name="description" content="this is the best website plice visit my website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/content/customer/images/logo_E.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/content/customer/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/content/customer/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/content/customer/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/content/customer/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/content/customer/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/content/customer/css/font-awesome.min.css">
    <!-- Nivo Slider -->
    <link rel="stylesheet" href="~/content/customer/inc/custom-slider/css/nivo-slider.css" type="text/css" />
    <!-- flat icon -->
    <link rel="stylesheet" href="~/content/customer/css/flaticon.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/content/customer/css/magnific-popup.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/content/customer/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/content/customer/css/responsive.css">
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!--  Font Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- modernizr css -->
    <script src="~/content/customer/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- header-area start hear -->
    <header class="navigation">
        <div class="header-area" id="sticky" style="background:#3c3c3c">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="logo-area">
                            <a href="@Url.Action("Indexcustomer", "")"><img src="~/content/customer/images/logo.png" alt="E-WORKERS"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="menu-area">
                            <nav>
                                <ul id="nav">
                                    <li>
                                        <a href="@Url.Action("Indexcustomer", "")">Home</a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("About", "")">About</a>
                                    </li>

                                    <li>
                                    <li class="drop-menu">
                                        <a href="@Url.Action("Workers", "")">Workers</a>


                                        <ul>

                                            <li>
                                                <a href="@Url.Action("Index", "Products")">Tailor</a>

                                            </li>
                                            <li><a href="@Url.Action("Index", "Contact_Us")">Painter</a></li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Poet</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Plumber</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">furniture Designer</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Photographer</a>

                                            </li>
                                        </ul>
                                    </li>
                                   
                                    <li class="drop-menu">
                                        <a href="@Url.Action("Products", "")">Products</a>
                                        <ul>
                                            <li> <a href="@Url.Action("Products", "")">Products</a></li>
                                            <li><a href="@Url.Action("DisplayCart", "Cart")">Cart</a></li>

                                            <li>
                                                <a href="@Url.Action("Checkout", "Cart")">Checkout</a>

                                            </li>
                                            @if (currentuser.currentcustomer == null)
                                            {
                                                <li>
                                                    <a href="@Url.Action("AccountLogin", "")">Account</a>

                                                </li>
                                            }
                                            else
                                            {

                                        <li>
                                            <a href="#">@currentuser.currentcustomer.Customer_Name</a>

                                        </li>

                                            }

</ul>
                                    </li>
                                    <li class="drop-menu">
                                        <a href="#blog">More </a>
                                        <ul>

                                            <li>
                                                <a href="@Url.Action("Index", "Products")">Success Stories</a>

                                            </li>
                                            <li><a href="@Url.Action("Index", "Contact_Us")">Contact</a></li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Feedback and Rating</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Terms and Conditions</a>

                                            </li>

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Index", "Worker_Login")">Login</a>

                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end hear -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul id="nav">
                                <li>
                                    <a href="@Url.Action("Indexcustomer","")">Home</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("About","")">About</a>
                                </li>

                                <li>
                                <li class="drop-menu">
                                    <a href="@Url.Action("Workers", "")">Workers</a>


                                    <ul>

                                        <li>
                                            <a href="@Url.Action("Index", "Products")">Tailor</a>

                                        </li>
                                        <li><a href="@Url.Action("Index", "Contact_Us")">Painter</a></li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">Poet</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">Plumber</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">furniture Designer</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">Photographer</a>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Products", "")">Products</a>

                                </li>
                                <li class="drop-menu">
                                    <a href="#blog">More </a>
                                    <ul>

                                        <li>
                                            <a href="@Url.Action("Index", "Products")">Success Stories</a>

                                        </li>
                                        <li><a href="@Url.Action("Index", "Contact_Us")">Contact</a></li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">Feedback and Rating</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Worker_Login")">Terms and Conditions</a>

                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="@Url.Action("Index", "Worker_Login")">Login</a>

                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile menu area end hear -->
    <section id=" main content">
        <section class=" wrapper">
            @RenderBody()
        </section>
    </section>

    <footer>
        <div class="footer-area">

            <div class="footer-bottom">
                <div class="container">
                    <div class="rowt">
                        <div class="copy-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <p>Copyright &copy; All Right Reserved By E-WORKERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end hear -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/content/customer/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/content/customer/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/content/customer/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/content/customer/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="~/content/customer/js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="~/content/customer/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="~/content/customer/js/plugins.js"></script>
    <!-- Nivo slider js  -->
    <script src="~/content/customer/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/content/customer/inc/custom-slider/home.js"></script>
    <!-- barfiller -->
    <script src="~/content/customer/js/jquery.barfiller.js"></script>
    <!-- nav js -->
    <script src="~/content/customer/js/jquery.nav.js"></script>
    <!-- mixitup js -->
    <script src="~/content/customer/js/jquery.mixitup.min.js"></script>
    <!-- counter up -->
    <script src="~/content/customer/js/count-to.js"></script>
    <script src="~/content/customer/js/jquery.appear.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="~/content/customer/js/jquery.magnific-popup.js"></script>
    <!-- main js -->
    <script src="~/content/customer/js/main.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Optional JavaScript for bootstrap5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>
