<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-WORKERS </title>
    <meta name="description" content="this is the best website plice visit my website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/content/customer/images/logo_E.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/content/customer/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/content/customer/css/animate.css">
        <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/content/customer/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/content/customer/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/content/customer/css/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/content/customer/css/font-awesome.min.css">
    <!-- Nivo Slider -->
    <link rel="stylesheet" href="~/content/customer/inc/custom-slider/css/nivo-slider.css" type="text/css" />
    <!-- flat icon -->
    <link rel="stylesheet" href="~/content/customer/css/flaticon.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/content/customer/css/magnific-popup.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/content/customer/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/content/customer/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/content/customer/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- header-area start hear -->
    <header class="navigation">
        <div class="header-area" id="sticky" style="background:#3c3c3c">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="logo-area">
                            <a href="@Url.Action("Indexcustomer","")"><img src="~/content/customer/images/logo.png" alt="E-WORKERS"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="menu-area">
                            <nav>
                                <ul id="nav">
                                    <li>
                                        <a href="@Url.Action("Indexcustomer","")">Home</a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action("About","")">About</a>
                                    </li>

                                    <li>
                                    <li class="drop-menu">
                                        <a href="@Url.Action("Workers", "")">Workers</a>


                                        <ul>

                                            <li>
                                                <a href="@Url.Action("Index", "Products")">Tailor</a>

                                            </li>
                                            <li><a href="@Url.Action("Index", "Contact_Us")">Painter</a></li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Poet</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Plumber</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">furniture Designer</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Photographer</a>

                                            </li>
                                            </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Products", "")">Products</a>

                                    </li>
                                    <li class="drop-menu">
                                        <a href="#blog">More </a>
                                        <ul>

                                            <li>
                                                <a href="@Url.Action("Index", "Products")">Success Stories</a>

                                            </li>
                                            <li><a href="@Url.Action("Index", "Contact_Us")">Contact</a></li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Feedback and Rating</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Worker_Login")">Terms and Conditions</a>

                                            </li>

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Index", "Worker_Login")">Login</a>

                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end hear -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li class="drop-menu">
                                    <a href="index.html">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index2.html">Home 2</a></li>
                                    </ul>
                                </li>
                                <li class="drop-menu">
                                    <a href="about.html">About <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="about.html">About 1</a></li>
                                        <li><a href="aboutme.html">About 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li class="drop-menu">
                                    <a href="service.html">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="service.html">service 1</a></li>
                                        <li><a href="single-service.html">setvice detials</a></li>
                                    </ul>
                                </li>
                                <li class="drop-menu">
                                    <a href="#">pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index2.html">Home Two</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="aboutme.html">single about</a></li>
                                        <li><a href="service.html">service</a></li>
                                        <li><a href="single-service.html">Single Service</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="single-member.html">Single Team</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="single-news.html">Single Blog</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="drop-menu">
                                    <a href="team.html">Team <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="team.html">team 1</a></li>
                                        <li><a href="single-member.html">single member</a></li>
                                    </ul>
                                </li>
                                <li class="drop-menu">
                                    <a href="#blog">Blog  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="single-news.html">Single Blog</a></li>
                                        <li><a href="404.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile menu area end hear -->
    <section id=" main content">
        <section class=" wrapper">
            @RenderBody()
        </section>
    </section>

 <footer>
        <div class="footer-area">
            
            <div class="footer-bottom">
                <div class="container">
                    <div class="rowt">
                        <div class="copy-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <p>Copyright &copy; All Right Reserved By E-WORKERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end hear -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/content/customer/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/content/customer/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/content/customer/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/content/customer/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="~/content/customer/js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="~/content/customer/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="~/content/customer/js/plugins.js"></script>
    <!-- Nivo slider js  -->
    <script src="~/content/customer/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/content/customer/inc/custom-slider/home.js"></script>
    <!-- barfiller -->
    <script src="~/content/customer/js/jquery.barfiller.js"></script>
    <!-- nav js -->
    <script src="~/content/customer/js/jquery.nav.js"></script>
    <!-- mixitup js -->
    <script src="~/content/customer/js/jquery.mixitup.min.js"></script>
    <!-- counter up -->
    <script src="~/content/customer/js/count-to.js"></script>
    <script src="~/content/customer/js/jquery.appear.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="~/content/customer/js/jquery.magnific-popup.js"></script>
    <!-- main js -->
    <script src="~/content/customer/js/main.js"></script>
</body>

</html>
