


@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
@model IEnumerable<E_WORKERS.Models.Table_Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   
    <a class="btn btn-primary glyphicon glyphicon-pencil" href="@Url.Action("Create","Table_Admin")">Create New</a>
</p>
<table class="table">
    <tr>
      
        <th>
            Admin Name
        </th>
        <th>
            Admin Password
        </th>
        <th>
            Admin Address
        </th>
        <th>
            Admin Phone
        </th>
        <th>
            Admin Email
        </th>
        <th></th>
    </tr>

    @foreach (var admin in Model)
    {
        <tr>
            
            <td>
                @admin.Admin_Name
            </td>
            <td>
                @admin.Admin_Password
            </td>
            <td>
                @admin.Admin_Address
            </td>
            <td>
                @admin.Admin_Phone
            </td>
            <td>
                @admin.Admin_Email
            </td>
            <td>
                <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("Edit","Table_Admin",new {id=admin.Admin_ID})">Edit</a> |
                <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("Details","Table_Admin",new {id=admin.Admin_ID})">Detail</a> |
                <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete","Table_Admin",new {id=admin.Admin_ID})">Delete</a> |
            </td>
        </tr>
    }

</table>
