


@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
@model E_WORKERS.Models.Table_Categories_Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_Categories_Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories_Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories_Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories_Product_Icon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories_Product_Icon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories_Product_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories_Product_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Categories_Product_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
