
@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


@model IEnumerable<E_WORKERS.Models.Table_Categories_Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary glyphicon glyphicon-pencil" href="@Url.Action("Create","Table_Categories_Product")">Create New</a>
</p>
<table class="table">
    <tr>
        
        <th>
            Categories_Product_Name
        </th>
        <th>
            Categories_Product_Icon
        </th>
        <th>
            Categories_Product_Status
        </th>
        <th></th>
    </tr>

    @foreach (var categories_Product in Model)
    {
        <tr>
         
            <td>
                @categories_Product.Categories_Product_Name
            </td>
            <td>
                @categories_Product.Categories_Product_Icon
            </td>
            <td>
                @categories_Product.Categories_Product_Status
            </td>
            <td>
                <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("Edit","Table_Categories_Product",new {id=categories_Product.Categories_Product_ID})">Edit</a> |
                <a class="btn btn-success glyphicon glyphicon-book" href="@Url.Action("Details","Table_Categories_Product",new {id=categories_Product.Categories_Product_ID})">Detail</a> |
                <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete","Table_Categories_Product",new {id=categories_Product.Categories_Product_ID})">Delete</a> |

            </td>
        </tr>
    }

</table>
